.DS_Store

# CalculatorInSwift
Assets.xcassets/
Base.lproj/
Info.plist
CalculatorInSwift/CalculatorInSwift.xcodeproj/
CalculatorInSwift/CalculatorInSwift/Main.storyboard

# pod 
CalculatorInSwift/Pods/
CalculatorInSwift/CalculatorInSwift.xcworkspace/

# CalculatorInObjective-c
main.m
CalculatorInObjective-C/CalculatorInObjective-C.xcodeproj/